.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #212121;
	text-align: center;
}

.wrapper {
  display: inline-block;
	line-height: 0;
	border:1px solid #212121;
}

.sectionTitle{
	text-align: center;
	background:#cfcfcf ;
	line-height: 35px;
	margin: 0;
	border-bottom:1px solid #212121;
}

#noRightBorder{
	border-right: 0px;
}