.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #272727;
  text-align: center;
}

.wrapper {
  display: inline-block;
  line-height: 0;
  border: 2px solid #7F7F7F;
	background:transparent;
}

.titleSection {
  display: inline-block;
  text-align: center;
  background: #e6e6e6;
  line-height: 35px;
  margin: 0;
  border: 2px solid #7F7F7F;
	font-size: 18px;
}

.figureTitle {
  width: 250px;
  border-right: 0px;
  border-bottom: 0px;
}

.canvasTitle {
  width: 648px;
  border-bottom: 0px;
}
